<!-- Elif Özer -->

{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/musician.js') }}"></script>
{% endblock %}

{% block title %}Musicians{% endblock %}

{% block content %}

{% if admin %}
<section id="musicianAddSection" style="padding:20px 0 20px 0; width: 40%; margin: 0 auto;">
	<div class="panel panel-default">
		<div class="panel-heading" style="background:#8a9a5b; color: #fff;">Add a new musician</div>

		<div style="width: 300px;">
			<div class="musicianNameDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Musician Name:</p>
				<input type="text" class="form-control" placeholder="Musician Name" name="musicianadd_musicianName"></input>
			</div>

			<div class="musicianGenreDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Musician Genre:</p>
				<input type="text" class="form-control" placeholder="Musician Genre" name="musicianadd_musicianGenre"></input>
			</div>

			<div class="musicianEstYearDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Establish year:</p>
				<input type="text" class="form-control" placeholder="Establish Year" name="musicianadd_musicianEstYear"></input>
			</div>

			<div class="musicianImgUrlDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Image URL:</p>
				<input type="text" class="form-control" placeholder="Image URL" name="musicianadd_musicianImgUrl"></input>
			</div>
		</div>

		<div>
			<div class="musicianImgUrlDiv" style="margin: 20px 20px 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Description:</p>

				<div class="form-group">
					<textarea class="form-control" rows="4" maxlength="300" id="musicianadd_musicianDesc" placeholder="Add a description..."></textarea>
				</div>
			</div>
		</div>

		<div class="panel-body row" style= "margin: 0 auto;">
			<button type="button" class="button-1" onclick="return AddMusician();">Add</button>
		</div>
	</div>
</section>
{% endif %}

<section id="musicianAddSection" style="padding:20px 0 20px 0; margin: 0 auto; width: 40%;">
	<div class="row">
		<div>
	    	<div class="input-group">
	      		<input type="text" class="form-control" placeholder="Search for musician...">

	      		<span class="input-group-btn">
	        		<button class="btn btn-default" type="button" style="color:#4f7942;">Search</button>
	      		</span>
	    	</div>
	  	</div>
	</div>
</section>

<section id="musicianListSection" style="margin-top: 40px;">
	<ul class="list-group">
		{% for m in musicianList|sort(attribute="name") %}
		<li class="list-group-item" {% if not authenticated %} style="width: 600px;" {% endif %} {% if authenticated %} style="width: 600px; cursor: pointer;" data-toggle="collapse" data-target="#{{ m.name }}" {% endif %}>{{ m.name }}</li>

		<div class="collapse" id="{{ m.name }}">
			<div class="media list-group-item" style="margin: 15px 0 15px 0; margin-left: 100px; width: 600px; background: #eaeded;">
				<div class="media-left">
					<img class="media-object" src="{{ m.imgUrl }}" height="64" width="64">
				</div>

			  	<div class="media-body">
			    	<p class="media-heading"><strong>Genre: </strong>{{ m.genre }}</p>
					<p class="media-heading"><strong>Establish Year: </strong>{{ m.establishYear }}</p>
			    	<p style="margin-top: 26px; word-break: break-all;">{{ m.description }}</p>
			  	</div>
			</div>
		</div>
		{% endfor %}
	</ul>
</section>
{% endblock %}