<!-- Elif Özer -->

{% extends "base.html" %}

{% block head %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/musicians.js') }}"></script>
{% endblock %}

{% block title %}Musicians{% endblock %}

{% block content %}

{% if admin %}
<section id="musicianAddSection" style="padding:20px 0 20px 0; width: 40%; margin: 0 auto;">
	<div class="panel panel-default">
		<div class="panel-heading" style="background:#8a9a5b; color: #fff;">Add a new musician</div>

		<div style="width: 300px;">
			<div class="musicianNameDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Musician Name:</p>
				<input type="text" class="form-control" placeholder="Musician Name" name="musicianadd_musicianName"></input>
			</div>

			<div class="musicianGenreDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Musician Genre:</p>
				<input type="text" class="form-control" placeholder="Musician Genre" name="musicianadd_musicianGenre"></input>
			</div>

			<div class="musicianEstYearDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Establish year:</p>
				<input type="text" class="form-control" placeholder="Establish Year" name="musicianadd_musicianEstYear"></input>
			</div>

			<div class="musicianImgUrlDiv" style="margin: 20px 0 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Image URL:</p>
				<input type="text" class="form-control" placeholder="Image URL" name="musicianadd_musicianImgUrl"></input>
			</div>
		</div>

		<div>
			<div class="musicianDescDiv" style="margin: 20px 20px 0 20px;">
				<p style="color: #8a9a5b; font-weight: bold;">Description:</p>

				<div class="form-group">
					<textarea class="form-control" rows="4" maxlength="300" id="musicianadd_musicianDesc" placeholder="Add a description..."></textarea>
				</div>
			</div>
		</div>

		<div class="panel-body row" style= "margin: 0 auto;">
			<button type="button" class="button-1" onclick="return AddMusician();">Add</button>
		</div>
	</div>
</section>
{% endif %}

<section id="musicianSearchSection" style="padding:20px 0 20px 0; margin: 0 auto; width: 40%;">
	<div class="row">
		<div>
	    	<div class="input-group">
	      		<input name="searchBy" type="text" class="form-control" placeholder="Search for musician...">

	      		<span class="input-group-btn">
	        		<button class="btn btn-default" type="button" style="color:#4f7942;" onclick="return SearchMusician();">Search</button>
	      		</span>
	    	</div>
	  	</div>
	</div>
</section>

<section id="musicianListSection" style="margin-top: 40px;">
	<ul class="list-group">
		{% for m in musicianList|sort(attribute="name") %}
		<table>
			<tr>
				<td>
					<li class="list-group-item" {% if not authenticated %} style="width: 600px;" {% endif %} {% if authenticated %} style="width: 600px; cursor: pointer;" data-toggle="collapse" data-target='#{{ loop.index }}' {% endif %}>{{ m.name }}</li>
				</td>

				{% if admin %}
				<td style="padding-left: 20px;">
					<button class="glyphicon-button update" value="{{ m.musicianId }}" data-toggle="modal" data-target="#updateMusicianModal"
							onclick="return UpdateMusicianModal({{ m.musicianId }}, '{{ m.name }}', '{{ m.genre }}', '{{ m.establishYear }}', '{{ m.imgUrl }}', '{{ m.description }}');">

						<span class="glyphicon glyphicon-pencil"></span>
					</button>
				</td>

				<td>
					<button class='glyphicon-button delete' value="{{ m.musicianId }}" data-toggle="modal" data-target="#deleteMusicianModal"
							onclick='return DeleteMusicianModal({{ m.musicianId }});'>

						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</td>
				{% endif %}
			</tr>
		</table>

		<div class="collapse" id={{ loop.index }}>
			<div class="media list-group-item" style="margin: 15px 0 15px 0; margin-left: 100px; width: 600px; background: #d5d38f;">
				<div class="media-left">
					<img class="media-object" src="{{ m.imgUrl }}" height="64" width="64">
				</div>

			  	<div class="media-body">
			    	<p class="media-heading"><strong>Genre: </strong>{{ m.genre }}</p>
					<p class="media-heading"><strong>Establish Year: </strong>{{ m.establishYear }}</p>
			    	<p style="margin-top: 26px; word-break: break-all;">{{ m.description }}</p>
			  	</div>
			</div>
		</div>
		{% endfor %}
	</ul>
</section>

<section id="musicianUpdateModalSection">
	<div id="updateMusicianModal" class="modal fade" role="dialog">
		<span id="modalMusicianId" style="display: none;"></span>

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" style="color: #000;" data-dismiss="modal">&times;</button>

					<h4 class="modal-title">Update Musician Information</h4>
				</div>

				<div class="modal-body">
					<div id="updateAlertHolder" style="margin: 20px 0 0 20px;"></div>

					<div style="width: 300px;">
						<div class="musicianNameDiv" style="margin: 20px 0 0 20px;">
							<p style="color: #8a9a5b; font-weight: bold;">Musician Name:</p>
							<input type="text" class="form-control" id="musicianupdate_musicianName"></input>
						</div>

						<div class="musicianGenreDiv" style="margin: 20px 0 0 20px;">
							<p style="color: #8a9a5b; font-weight: bold;">Musician Genre:</p>
							<input type="text" class="form-control" id="musicianupdate_musicianGenre"></input>
						</div>

						<div class="musicianEstYearDiv" style="margin: 20px 0 0 20px;">
							<p style="color: #8a9a5b; font-weight: bold;">Establish year:</p>
							<input type="text" class="form-control" id="musicianupdate_musicianEstYear"></input>
						</div>

						<div class="musicianImgUrlDiv" style="margin: 20px 0 0 20px;">
							<p style="color: #8a9a5b; font-weight: bold;">Image URL:</p>
							<input type="text" class="form-control" id="musicianupdate_musicianImgUrl"></input>
						</div>
					</div>

					<div class="musicianDescDiv" style="margin: 20px 20px 0 20px;">
						<p style="color: #8a9a5b; font-weight: bold;">Description:</p>

						<div class="form-group">
							<textarea class="form-control" rows="4" maxlength="300" id="musicianupdate_musicianDesc"></textarea>
						</div>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick='return UpdateMusician();'>Update</button>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="musicianDeleteModalSection">
	<div id="deleteMusicianModal" class="modal fade" role="dialog" ondialogclose="javascript:return false;">
		<span id="modalMusicianDeleteId" style="display: none;"></span>

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>

					<h4 class="modal-title">Are you sure?</h4>
				</div>

				<div class="modal-body">
					<p>Musician will be deleted permanently. Please confirm to delete.</p>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-default" onclick='return DeleteMusician();'>Yes</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}